<table>
  <tr>
    <th>Disciplines</th>
    <th colspan={maxPracticeCount} class="center">Practices</th>
  </tr>
  {#each disciplines as discipline}
    <tr>
      <th>{discipline.label}</th>
      {#each discipline.practices as practice, i}
        <!-- <td colspan={spanTable[maxPracticeCount][discipline.practices.length][i]} style="color: {practice.textColor}; background-color: rgba({practice.r}, {practice.g}, {practice.b}, {practice.opacity});">{practice.label}</td> -->
        <td colspan={practice.colspan} style="color: {practice.textColor}; background-color: {practice.bgColor};">{practice.label}</td>
      {/each}
    </tr>
  {/each}
</table>

<style>
  .center {
    text-align: center;
  }
</style>

<script>

 import {getBackgroundAndTextColor} from "@matrx/color-utils"
 import {getID, div, mod} from "@matrx/utils"

  export default {

    tag: 'matrx-grid',

    data() {
      return {
        baseColor: "#2E8468",
      }
    },

    helpers: {
      spanTable
    },

    computed: {

      // junk: (s) => {
      //   console.log(s.maxPracticeCount)
      // },

      maxPracticeCount: ({disciplines}) => {
        let maxPracticeCount = 0
        for (let discipline of disciplines) {
          maxPracticeCount = Math.max(maxPracticeCount, discipline.practices.length)
        }
        return maxPracticeCount
      },

      error: ({maxPracticeCount}) => {
        if (maxPracticeCount > 8) {
          console.error("Max allowed practices is 8. You have " + maxPracticeCount + " in one (or more) discipline(s)")
          return true
        } else {
          return false
        }
      },

      levelConfigAnnotated: ({levelConfig, baseColor}) => {
        let levelConfigAnnotated = []
        let baseColorCount = 0
        for (let level of levelConfig) {
          if (! level.color)
            baseColorCount++
        }
        let i = 0
        for (let level of levelConfig) {
          if (! level.color) {
            level.color = baseColor
            level.opacity = (baseColorCount - i - 1) / (baseColorCount - 1)
          } else {
            level.opacity = 1
          }
          let colors = getBackgroundAndTextColor(level.color, level.opacity)
          level.bgColor = colors.bgColor
          level.textColor = colors.textColor
          if (! level.description) {
            level.description = ""
          }
          levelConfigAnnotated.push(level)
          i++
        }
        return levelConfigAnnotated
      },

      disciplinesAnnotated: ({disciplines, levelConfigAnnotated, maxPracticeCount}) => {
        let disciplinesAnnotated = disciplines
        for (let discipline of disciplines) {
          let i = 0
          const minCols = div(maxPracticeCount, discipline.practices.length)
          let extraCols = mod(maxPracticeCount, discipline.practices.length)
          let textWidthArray = []  // each row in the form {i, width}  width is in charCount for now but could be pixelWidth later
          for (let practice of discipline.practices) {
            practice.id = getID()
            let level = levelConfigAnnotated.find((level) => {
              return practice.assessment === level.label
            })
            practice.bgColor = level.bgColor
            practice.textColor = level.textColor
            textWidthArray.push({i, width: practice.label.length})
            practice.colspan = minCols
            i++
          }  // for practice...
          if (extraCols > 0) {
            textWidthArray.sort((a, b) => a.width - b.width)
            while (extraCols > 0) {
              let {i} = textWidthArray.pop()
              discipline.practices[i].colspan++
              extraCols--
            }
          }
        }  // for discipline...
        return disciplinesAnnotated
      },

    },

    components: {
      // Slice: './Slice.html',
    },

  }

</script>
